# node_modules and dist directories
node_modules
dist

# Python virtual environments
.venv

# Downloads and temporary files
downloads
temp

# Archives and logs
*.zip
*.log

# Documentations
*.md

# Development
.env.example
scripts
src/test

# Docker files
Dockerfile
docker-compose.dev.yml
docker-compose.yml

# Git files
.git
.gitignore

# Infisical (secret inject through environment instead of directly inside Dockerfile)
.infisical.json

# Legacy folders
nginx
mitmproxy
yt-dlp

