# node_modules and dist directories
node_modules/
dist/

# Environment variables
.env
*.js.map

# Downloads and temporary files
downloads/
temp/

# Archives and logs
*.zip
*.log

# Legacy
nginx
mitmproxy
scripts
